.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 340px;
  margin-right: 340px;
}

.playlists-container {
  height: 550px;
  width: 300px;
  background-color: #3C5A14;
  border: 1px solid #58920C;
  margin-top: 20px;
}

.playlist-container {
  display: flex;
  flex-direction: row;
  gap: 70px;
  height: 45px;
  background-color: #354D15;
  border: 1px solid #496B1C;
  cursor: pointer;
}

.playlist-container:hover {
  background-color: #436319;

}

.playlists-container-title {
  color: #FFF;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.playlist-name {
  color: #FFF;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.playlist-songamount {
  color: #C7C7C7;
  font-size: 15px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.currentlyplaying-container {
  background-color: #3C5A14;
  border: 1px solid #568715;
  height: 550px;
  width: 300px;
  margin-top: 10px
}

.currentlyplaying-image {
  width: 100%;
  height: 150px;
  background-color: #2E4410;
}

.currentlyplaying-container-text {
  color: #FFF;
  font-size: 24px;
  margin-left: 10px;
}

.currentlyplaying-container-subtext {
  color: #CDCBCB;
  font-size: 18px;
  margin-left: 10px;
}